/* Styling landing section */
body .landing {
    height: calc(100vh - 65px);
    background-image: url("./Images/img3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}