/* Set global rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", "Helevitca", san-serf;
  font-size: 16px;
  font-weight: normal;
}

.main-heading {
  font-size: 100px;
  color: #eee;
  letter-spacing: -5px;
}

p.main-text {
  margin-top: -80px;
  margin-bottom: 50px;
}

.portfolio a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Styling header of page */
.navbar .nav-item .nav-link {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 767px) {
  .navbar .nav-item .nav-link {
    border-bottom: 1px solid gray;
  }
  .navbar .nav-item .nav-link:hover {
    margin-left: 5px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-item .nav-link:hover {
    margin-left: 5px !important;
  }
}

/* Styling landing section */
body .landing {
  height: calc(100vh - 65px);
  background-image: url("./Images/img3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styling services section */
.services .image::before {
  content: "";
  position: absolute;
  right: -30px;
  top: -30px;
  width: 120px;
  height: calc(100% + 60px);
  background-color: #212529;
  z-index: -1;
}

/* Styling about section */
.about .image {
  width: 250px;
  height: 350px;
}
.about .image img {
  position: absolute;
  z-index: 2;
}
.about .image::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -40px;
  width: 100px;
  height: calc(100% + 40px);
  background-color: #eee;
  z-index: 1;
}
.about .image::after {
  content: "";
  position: absolute;
  top: -40px;
  width: 150px;
  height: calc(100% - 40px);
  z-index: 1;
  right: -115px;
  border-left: 70px solid #0dcaf0;
  border-bottom: 80px solid #0dcaf0;
}
@media (max-width: 767px) {
  .about .image::before, .about .image::after {
    display: none;
  }
}
.about hr {
  height: 2px;
}